.btn__type_header{
  width: 204px;
  height: 60px;
  border-radius: 40px;
  font-weight: 700;
  font-size: 13px;
  line-height: 100%;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  padding-top: 4px;
}
