.header__icons_type_phone{
  display: none;
  background-image: url(../../../../../images/icons__phone.svg);
  background-repeat: no-repeat;
  background-position: center;
}
@media screen and (min-width: 480px){
  .header__icons_type_phone{
    display: inline;
  }
}
