.header__logo{}
@media screen and (min-width: 480px){
  .header__logo{
    width: 205px;
  }
}
@media screen and (min-width: 768px){
  .header__logo{
    width: 225px;
  }
}
@media screen and (min-width: 1024px){
  .header__logo{
    width: 240px;
  }
}
@media screen and (min-width: 1280px){
  .header__logo{
    width: 293px;
  }
}
