.btn__style_ligth{
  display: none;
  background: #FFFFFF;
  color: #000000;
}
@media screen and (min-width: 1024px){
  .btn__style_ligth{
    display: inline;
  }
}
@media screen and (min-width: 1280px){
  .btn__style_ligth{
    margin-right: 12px;
  }
}
