.gallery{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.container{
  width: 80%;
  display: flex;
}
.slide{
  height: 80vh;
  border-radius: 20px;
  margin: 10px;
  color: #ffffff;
  flex: 1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  position: relative;
  transition: all 500ms ease-in-out;
}
.slide h3{
  margin: 0;
  font-size: 18px;
  font-style: italic;
  position: absolute;
  bottom: 20px;
  left: 20px;
  opacity: 0;
}

.active{
  flex: 10;
  box-shadow: 0 0 10px 4px #111111;
}
.active h3{
  opacity: 1;
  transition: opacity 0.3s ease-in 0.4s;
}
