.header__subtitle_style_gold{
  color: #F69020;
}
@media screen and (min-width: 1440px){
  .header__subtitle_style_gold{
    margin-right: 80px;
  }
}
@media screen and (min-width: 1920px){
  .header__subtitle_style_gold{
    margin-right: 124px;
  }
}
